$drums: 95%
$hockey: 90%
$games: 88%
$tech: 85%

.hobbies
    background: #fafafa
    font-size: 1.5em
    padding: 0.5em 0

.hobbies-wrap
    margin: 0 10%

.hobbies-row
    font-size: 1.2em

.hobbies-row:first-of-type
    margin: 5% 0 0 0

.hobbies h2
    text-align: center

.meter
    border: 1px solid #757575
    height: 1em
    background: transparent
    width: 70%
    margin: 1% 0 10% 0

.meter-fill.drums
    width: $drums
    height: calc(1em - 2px)
    background: #81C784

.meter-fill.hockey
    width: $hockey
    height: calc(1em - 2px)
    background: #81C784

.meter-fill.games
    width: $games
    height: calc(1em - 2px)
    background: #81C784

.meter-fill.tech
    width: $tech
    height: calc(1em - 2px)
    background: #81C784
