html {
  box-sizing: border-box; }

*, *:before, *:after {
  box-sizing: inherit; }

html, body, h2, p {
  margin: 0;
  border: 0;
  padding: 0; }

body {
  font-family: "Amatic SC", cursive; }

.welcome {
  background: url(images/rob.jpg) center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
  color: #fff;
  box-shadow: 0 0 6px 0 #212121;
  font-size: 3em;
  position: relative; }

.welcome h2 {
  font-weight: normal;
  font-size: 1em;
  margin: 0 0 0 0.2em; }

.welcome-text {
  border-bottom: 1px solid #fff; }

.welcome p {
  margin: 0 0 0 0.2em; }

/***** Next Button **** */
/* Hidden (by default) on mobile */
.next-wrap {
  position: absolute;
  left: 50%;
  bottom: 0;
  opacity: 0.3;
  cursor: pointer;
  margin: 0 0 0 -50px;
  animation-name: glow;
  animation-delay: 2s;
  animation-duration: 4s;
  animation-iteration-count: infinite; }

@keyframes glow {
  0% {
    opacity: 0.3; }
  5% {
    opacity: 0.5; }
  10% {
    opacity: 0.7; }
  15% {
    opacity: 0.9; }
  20% {
    opacity: 1; }
  25% {
    opacity: 0.9; }
  30% {
    opacity: 0.7; }
  35% {
    opacity: 0.5; }
  40% {
    opacity: 0.3; }
  100% {
    opacity: 0.3; } }
.next-wrap:hover {
  animation: none;
  opacity: 1; }

.left, .right {
  width: 50%;
  height: auto;
  display: inline-block; }

.next-wrap {
  display: none; }

.hobbies {
  background: #fafafa;
  font-size: 1.5em;
  padding: 0.5em 0;
  box-shadow: 0 0 5px 0 #e2e2e2;
  border-bottom: 1px solid #e2e2e2; }

.hobbies-wrap {
  margin: 0 10%; }

.hobbies-row {
  margin: 5% 0;
  font-size: 1.2em; }

.hobbies-row:first-of-type {
  margin: 5% 0 0 0; }

.hobbies h2 {
  text-align: center;
  font-size: 1.7em; }

.hobbies-label {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 0.8em; }

.meter {
  height: 1em;
  background: transparent;
  width: 100%;
  border-radius: 1.1em; }

.meter-fill {
  border-radius: 1.1em;
  height: calc(1em - 2px);
  width: 0%; }

.meter-fill.drums {
  width: 95%;
  background: #81C784;
  transition: width 0.6s ease-in; }

.meter-fill.hockey {
  width: 85%;
  background: #4FC3F7;
  transition: width 0.6s ease-in; }

.meter-fill.games {
  width: 60%;
  background: #9575CD;
  transition: width 0.6s ease-in; }

.meter-fill.tech {
  width: 72%;
  background: #F06292;
  transition: width 0.6s ease-in; }

.skills {
  font-size: 1.5em;
  padding: 0.5em 0;
  border-bottom: 1px solid #e2e2e2; }

.skills-wrap {
  margin: 0 10%; }

.skills h2 {
  text-align: center;
  font-size: 1.7em; }

.skills-list {
  margin: 5% 0; }

.skills-list-item {
  margin: 1% 0;
  height: calc(100% / 6);
  width: 0;
  background: #03A9F4; }
  .skills-list-item:nth-of-type(2n) {
    background: #92dcfe; }

.skills-label {
  z-index: 2;
  width: 3.3em;
  display: inline-block;
  position: relative;
  color: #fff;
  padding: 0 0 0 0.1em;
  background: #424242;
  font-family: "Open Sans Condensed", sans-serif; }

.html {
  width: 90%;
  transition: width 0.6s ease-in; }

.css {
  width: 85%;
  transition: width 0.6s ease-in; }

.js {
  width: 80%;
  transition: width 0.6s ease-in; }

.liquid {
  width: 75%;
  transition: width 0.6s ease-in; }

.github {
  width: 70%;
  transition: width 0.6s ease-in; }

.exp {
  background: #fafafa;
  padding: 0.6em 0; }

.exp h2 {
  text-align: center;
  font-size: 2.5em; }

.exp-wrap {
  margin: 0 10%;
  position: relative; }

.exp-line {
  width: 2px;
  height: 100px;
  background: #424242;
  position: absolute;
  left: 50%;
  top: 4em; }

.exp-item {
  width: 7em;
  height: 7em;
  background: #fff;
  position: relative;
  margin: 2% 0;
  display: block;
  text-align: center; }

.exp-item:after {
  content: "";
  width: 0;
  height: 0;
  border: 5px solid;
  position: absolute;
  border-color: #fff;
  right: -5px;
  top: 50%;
  margin: -5px 0 0 0;
  transform: rotate(45deg); }

.exp-item img {
  max-width: 80%;
  max-height: 80%;
  margin: 10%; }

/*# sourceMappingURL=main.css.map */
